<!DOCTYPE html>
<html lang="<%= process.env.LANG %>">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <%= helloText %>

    <!-- Vue test component -->
    <div id="app">
        <test-component msg="<%= process.env.LOCATION === 'ja' ? 'やあ' : 'Hi!' %>"></test-component>
    </div>
    <script src="js/index.js"></script>
</body>
</html>